[2021-10-08 11:59] HappyZombies opened #2 "Welcome, let's get started with version 4 and the new organization -- a new starting point"
This repo is an attempt to continue on with the work that has been done on [oauthjs/node-oauth2-server](https://github.com/oauthjs/node-oauth2-server)

The NPM module will be called `@node-oauth/oauth2-server`.

From https://github.com/oauthjs/node-oauth2-server/issues/621, the project has basically, from what it seems, been abandoned. And we understand that life get's busy and what not, but due t

[2021-10-09 18:37] jankapunkt opened #5 "Code Quality"
Some things I'd like to discuss and also work on is code quality and documentation:

- Tests and coverage (mocha, chai, sinon, istanbul)
- Linter
- API Docs
- Wiki, if desired
- README and badges
- GitHub Actions for CI and CD
- static analysis like semmle / lgtm for non-dependency vulnerabilities: https://github.com/node-oauth/node-oauth2-server/security/code-scanning

There are a few things to d

[2021-10-10 12:06] jankapunkt opened #8 "Maintaining adapter packages?"
Do we want to maintain adapters under this org, too? At least for express I can provide support. One argument for it is, that it will build much more trust and we can ensure this will live on. Argument against is that we have more to maintain overall.

[2021-10-10 12:18] jankapunkt commented on #8
Another advantage would be to have CI runninng integration tests before publishing releases, e.g. when merging into a `release` branch

[2021-10-10 12:45] HappyZombies commented on #8
I think we should, but let's see how this project goes first. If we gain traction and are putting out releases, we can start taking in other adapter packages too.

[2021-10-10 12:46] jankapunkt commented on #5
**Mergining strategy**

I think the branching is good, we should always release into `release` so we can have CI run extra integration tests with all adapters before publishing. Dev can run only standard tests.

**GitHub Action**

I have experience with GH Actions and can provide a PR.

**Linter**

I have no experience with linter and typescript so maybe someone else who is more experienced in thi

[2021-10-10 12:51] HappyZombies commented on #5
Sounds good, I will clean up the dev branch and add protection to master so no one can push directly.

Sadly we lose whatever was on dev but worse case we just look at the old dev branch from the original repo.

[2021-10-10 13:08] jankapunkt opened #15 "Remove dependencies"
In the old thread discussion there was a [mention on some deps](https://github.com/oauthjs/node-oauth2-server/issues/621#issuecomment-879981007) that could be removed or replaced:

- bluebird -> Native Node Promise
- promisify-any -> utilis.promisify
- statuses -> http.STATUS_CODES

[2021-10-10 13:11] jankapunkt opened #16 "Security process"
As already mentioned in the old discussion this project is highly security relevant:

I agree a lot with this. How do we want to ensure a high security in this project at all stages?

Also: assuming there is funding, do we want to get an independent security audit for certain releases?

[2021-10-10 13:12] HappyZombies commented on #5
@jankapunkt should development be the default branch? I feel like doing so would kinda make master redundant...which then begs the question of why even have a development branch 🤷

[2021-10-10 13:21] jankapunkt commented on #5
I have a clear opinion on this: `master` is always reflecting the latest stable `release`, so after a release being published with no bigger issues we should merge it to master. All development effort is going into development and release candidates are merged into `release`. In such a case `master` remains the base branch, because it reflects the latest production-stable version, no matter what m

[2021-10-10 13:48] HappyZombies commented on #15
@jankapunkt just to confirm, you are talking about https://www.npmjs.com/package/http-status-codes correct?

[2021-10-10 13:49] HappyZombies opened #17 "Dependabot vulnerabilities -- what we are doing"
Dependabot is giving us a few PRs to update dependencies, thankfully most of these are dev dependencies, but given how two of them are major versions -- we gotta be a little careful here because tests may break.

What I am going to do is create a PR that not only updates the packages, but also removes the statuses module and attempt to replace it with [http-status-codes ](https://www.npmjs.com/pac

[2021-10-10 16:01] jankapunkt commented on #5
@HappyZombies I added a PR regarding branching and contribution guidelines and I would ask to you to work on the maintainers part a bit (which is more closely related to the branching strategy) and let me know what you think of the current state.

[2021-10-10 19:52] jankapunkt commented on #15
Hi @jwerre that's great. We are currently sorting out administrative steps regarding development process, contribution, code quality etc. Feel free to comment on the respective issues / pull requests.

[2021-10-10 20:08] jwerre opened #19 "Remove Bluebird dependency"
We should be able to remove Bluebird as a dependency in favor of standard ES6 Promises.

[2021-10-10 20:09] jwerre opened #20 "Remove promisify-any dependency"
Just use [`util.promisify`](https://nodejs.org/docs/latest-v14.x/api/util.html#util_util_promisify_original)

[2021-10-10 20:10] jwerre opened #21 "Remove statuses dependency"
Use [http.STATUS_CODES](https://nodejs.org/dist/latest-v10.x/docs/api/http.html#http_http_status_codes) instead.

[2021-10-10 20:12] jwerre commented on #15
- https://github.com/node-oauth/node-oauth2-server/issues/19
- https://github.com/node-oauth/node-oauth2-server/issues/20
- https://github.com/node-oauth/node-oauth2-server/issues/21

[2021-10-10 20:17] jwerre commented on #19
https://github.com/node-oauth/node-oauth2-server/issues/15#issuecomment-939480451

I'm just going to copy & paste my comment from the old repo:

That said, let's have a discussion on the minimum version of Node.js we should support.

[2021-10-10 20:18] jwerre commented on #8
I agree, in fact I've already written an adapter to express which I'd be happy to push.

[2021-10-10 20:22] jwerre opened #22 "Examples"
The barrier to entry on this package isn't insurmountable but it's not easy either. I'd love to see some examples using the following databases:

- SQL
- MongoDB
- Redis

[2021-10-10 20:23] jwerre commented on #5
I'm also a fan of:

- mocha, chai or should
- eslint
- jsdocs

[2021-10-10 20:50] jwerre opened #23 "Remove lodash dependency"
Just did a quick search for "_." and realized `lodash` is a dependency almost exclusively because of [`assign`](https://lodash.com/docs/4.17.15#assign). We could easily remove `lodash` (and all the security concerns with it) by using the Spread operator or `Object.assign`.

[`_.includes`](https://lodash.com/docs/4.17.15#includes) and [`_.has`](https://lodash.com/docs/4.17.15#has) are also used a c

[2021-10-10 20:56] jwerre commented on #20
Just realized Bluebird is a [dependency](https://github.com/overlookmotel/promisify-any/blob/f6447d6f143e8d6a0aa9dd71447f885b5d715904/package.json#L17) of promisify-any. Removing this should probably come before removing [Bluebird](https://github.com/node-oauth/node-oauth2-server/issues/19).

[2021-10-10 21:35] jankapunkt commented on #22
I am using it with Mongo but not mongoose as we use it for a Meteor project and I created a Meteor package with integration for this project which I could link in examples, too. If there is time and we have sorted out things I could work on a node/express/mongo/mongoose example

[2021-10-10 21:36] jankapunkt commented on #5
@jwerre good thing is that current tests already use mocha and chai so there is not much to change on their side. I already added NYC for coverage in 10 min or so

[2021-10-10 21:36] jwerre commented on #5
I just realized the `should.js` is the main the assertion library but the repo has been archived! I wonder if continuing to use it would be the best way to future-proof. What do you guys think?  Do you think we could just use Chai's [should interface](https://www.chaijs.com/guide/styles/#should) as a simple swap in replacement. e.g.:

[code]
What a lot of people don't like about should is that it

[2021-10-10 21:37] jankapunkt commented on #23
Yes this is very good but let's be very cautious and add a few extra tests, if required in order to make sure we don't break things.

[2021-10-10 21:39] jankapunkt commented on #20
Also here let's check if tests already cover these cases / functionality enough in order to be on the safe side. I think coverage is very high but there are a few lines missed and you know how Mr. Murphy thinks about this :-)

[2021-10-10 21:42] jankapunkt commented on #5
I personally love the Chai asserter and I think together with Mocha it has the widest spread of expertise so many people should be familiar with it (yes very meta).

I think we should focus on this before we do the other issues because this is a fundamental thing for our CI and future contributions

[2021-10-10 21:44] jwerre commented on #5
I don't think you'd need to rewrite anything if you just use Chai's should interface. I'll check it out now and see what happens.

[2021-10-10 21:46] HappyZombies commented on #22
I can provide a solid MySQL example as well.

[2021-10-10 21:52] jwerre commented on #5
I just did a find for `should = require('should');` and replace with `should = require('chai').should()` in the entire `test/unit` directory and all but one test passed.

[2021-10-11 07:45] jankapunkt commented on #16
We should also think about signed commits, so we can reduce the hypothetical chance of someone bringing malicious code into the repo using the account of one of the maintainers.

[2021-10-11 08:36] jankapunkt commented on #16
Another thing would be: https://docs.github.com/en/organizations/keeping-your-organization-secure/requiring-two-factor-authentication-in-your-organization

[2021-10-11 09:02] oklas opened #25 "Security status and option to disable service"
In order to provide additional security enhancements for versions with unsafe status need to notice update process particularities:

* users cannot continuously monitor the security status of all packages and this package,
* automatic update question is also not easy and may meet some delays
* in some cases, users, even having information about the vulnerability, may postpone the update for some r

[2021-10-11 09:25] oklas commented on #16
Inserting malware on behalf of a maintainer is only one of the attack vectors.

This hypothetical situation is possible in different ways. If malicious user have access to maintainer account, then signed commits will help. However, if it does have access to the maintainer workstation, then the malicious user will probably be able to sign the code. Two-factor authentication complicates this if the

[2021-10-11 12:13] jwerre commented on #5
Are we going to move forward with [ESLint](https://eslint.org/)? Perhaps we should start a new issue for this topic and discuss  [configuration](https://eslint.org/docs/user-guide/configuring/)?

[2021-10-11 12:20] HappyZombies commented on #5
I think we should go for ESLint, I thought about prettier, but having it find code errors will help us catch those undefined errors quickly.

In the original project, they started using ESLint but, never got merged to master. Perhaps this is something we can benefit from?

https://github.com/oauthjs/node-oauth2-server/blob/dev/.eslintrc

[2021-10-11 12:58] jankapunkt commented on #5
I agree let's create a separate issue and discuss a potential eslint config

[2021-10-11 13:02] HappyZombies opened #27 "New linter"
As discussed per #5 ,we are looking into implementing ESLint as our linter.

In the original project, it appeared that ESLint was going to be part of some version.

https://github.com/oauthjs/node-oauth2-server/blob/dev/.eslintrc

However this never got merged into master.

The goal here is to

1. Define a eslint config we all can agree on
2. Then create a PR that contains the ESLint config along

[2021-10-11 13:03] HappyZombies commented on #27
Let's keep in mind that the Linter might actually throw too many errors on the application, and will cause our Github actions to fail if they are part of some pipeline. In such a case, we might just need to implement the ESLint config file and look into addressing the  issues the linter brings up at a later time.

[2021-10-11 14:14] jankapunkt commented on #27
I have some additions, for example I'd prefer spaces instead of tabs (because they can also be wrapped by ides with tabsize) and I'd also turn on no-console for all non-warning and non-error console usage. I also would like stoustroup style for if else because it makes commenting blocks very clear to understand. I can provide example and a PR if you like

[2021-10-11 14:33] jwerre commented on #27
[code]

[2021-10-11 15:02] HappyZombies commented on #27
Well that's why I mentioned we have a PR for eslint, then another one doing the autofixes/fixing errors on eslint.

[2021-10-11 15:13] jankapunkt commented on #5
@HappyZombies there should be a setting somewhere that pull requests need approval

[2021-10-11 15:32] #21 closed, assigned to nobody

[2021-10-11 16:34] jwerre opened #28 "Replace should with chai"
Is discussed is issue #5 `should.js` has been archived. Replacing should with chai will make the project more future-proof.

[2021-10-11 17:50] oklas opened #31 "Merge strategy `rebase` or `merge`"
To minimize and simplify discussion of code quality #5, let us discuss merge strategy here

The result slice of code will be the same. The question is only about git history and how to work with it. This is part of history of this project where merge approach is used:

![](https://user-images.githubusercontent.com/8123356/136820907-4fcb1b52-e319-462e-8d23-cef2f88b292f.png)

This requires more atte

[2021-10-12 13:05] HappyZombies opened #34 "Supporting Node12 and above"
Apparently, we (master) support Node 4 and above. We should, however, consider following the [Node LTS](https://nodejs.org/en/about/releases/) and basically, support Node 12 and above.

The simplest change would be updating the [package.json to update the engines to node >= 12.0](https://github.com/node-oauth/node-oauth2-server/blob/master/package.json#L36).

**The question is now** What and where

[2021-10-12 13:23] jankapunkt commented on #34
We already support Node 12 in the CI and I am running all tests on Node 14 locally so we are fine here.

Also we can be fine by removing bluebird without any replacement and just use native Promises, which will be already breaking for very old Node versions. Related: #19

[2021-10-12 13:31] jankapunkt commented on #20
I think we can start on this after #30 has been merged

[2021-10-12 15:16] #28 closed, assigned to nobody

[2021-10-12 15:27] HappyZombies commented on #5
@jwerre let's take the Node version convo to #34

[2021-10-12 15:33] jwerre commented on #34
I think we would be fine supporting Node 10. Is there [anything here](https://nodejs.org/tr/blog/uncategorized/10-lts-to-12-lts/) that you guys feel like we need?

[2021-10-12 15:44] jankapunkt commented on #34
I can update the ci to support 10,12,14 and 16

[2021-10-12 15:47] HappyZombies commented on #34
I think removing the Travis file is fine. We are using GitHub CI now.

[2021-10-13 07:31] jankapunkt opened #36 "Release strategy"
How do we want to release a new version?

- who should release? -> human vs GitHub Actions?
- when to release?
- how to prepare a release? -> one `release` branch with tags or one branch for each major version? like `release-4.x`, `release-5.x`
- do we want additional tests that run in GitHub actions when merging to a release branch? GH Actions is so flexible I could even clone another repo and in

[2021-10-13 13:07] HappyZombies commented on #8
I am ok with the number of maintainers currently, besides like I mentioned we should put a small hold on adding all adapters and what not, we still have administrator stuff to do and whatever else small bug fixes.

I think us three can handle it right now, if it becomes too much we can add more maintainers to handle the adapters and example project(s).

[2021-10-13 13:49] HappyZombies opened #38 "Update crypto hash to use sha256"
This line in [token-utils](https://github.com/node-oauth/node-oauth2-server/blob/master/lib/utils/token-util.js#L23).

Uses `sha1` for the hash, we should update this to be sha256 and update our unit tests too.

[2021-10-13 15:18] jwerre commented on #38
Yes! nice find @HappyZombies

[2021-10-13 15:21] jwerre commented on #38
This [line](https://github.com/node-oauth/node-oauth2-server/blob/b9aae53a8385417bb5b613c801b05bdcd7e3f9d3/test/assertions.js#L16) will need to change to: `new chai.Assertion(obj).match(/^[a-f0-9]{64}$/i);`

[2021-10-13 16:30] #17 closed, assigned to HappyZombies

[2021-10-13 16:55] oklas opened #40 "Documentation"
We need to run the documentation. We can use the free `js.org` domain on this stage, for example, obviously:

[code]

I have experience to set it up it for my open source projects, along with the GitBook documentation engine. Both also used by the well-known Redux (or at least Redux used GitBook before did not check for now). Thereat it was easy, but now I would prefer to use something more intere

[2021-10-13 17:38] oklas commented on #36
Excellent considerations. I would be glad to work on this and continue developing the release process based on the commit message (the ideas that I suggested in #32).

[2021-10-13 19:29] jankapunkt commented on #36
@HappyZombies can you add @oklas to the maintainers? I unfortunately can*t

@oklas that would be great! Are you familiar with dependabot and github actions? I am so half-half (used both in my projects and read the docs but skipped many sections that I thought irrelevant at that time). I think we can make huge progress just by getting to know how both actually work:

https://docs.github.com/en/code

[2021-10-13 19:30] jankapunkt commented on #40
I could help by setting up JSDoc and make sure we have a good documentation coverage

[2021-10-13 19:45] jwerre commented on #16
Yes, was one of my biggest reservation with using this package at all. I don't think we should be going crazy inviting maintainers to this project—it should be pretty tight. Requiring 2FA and signed commits sounds like a pretty reasonable approach.

[2021-10-13 19:54] jwerre commented on #20
I'm looking into this now and noticed some oddities I thought maybe you guys could chime in on. First off, a lot of the tests are returning the wrong value, [here](https://github.com/node-oauth/node-oauth2-server/blob/b1676fb8a2f7f8d5ff71d7c926bb0901dce54d34/test/unit/grant-types/abstract-grant-type_test.js#L19) `generateAccessToken` should [return a string](https://oauth2-server.readthedocs.io/en

[2021-10-13 20:01] jankapunkt commented on #20
Yes I ran the tests right now with `util.promisify` and they all fail due to what you wrote @jwerre

If the functions are simple one-dimensional we could write our own wrapper like so:

[code]

I checked a few tests and it works so far but I am not sure if this works for all.

[2021-10-13 20:25] HappyZombies commented on #40
This sounds like a great idea, but I really think we have other priorities right now. There's no reason to get these docs up and running ASAP, when we haven't even introduced new and/or breaking changes. For the time being we can link the docs to the old repo.

[2021-10-13 20:33] jwerre commented on #36
🤣

[2021-10-14 07:08] jankapunkt commented on #20
@jwerre did you come up with anything? Maybe you open a draft pull request so we can work out the details using the code review?

[2021-10-14 07:11] jankapunkt commented on #36
@HappyZombies allright no problem I can totally understand this it's all risky for all of us involved (at least when running this in production)

Well, then let's first go through the proposed release strategy and see if you and @jwerre have any further thoughts on this.

[2021-10-14 07:29] jankapunkt opened #42 "Missing tests"
When running the code coverage there are still a few lines uncovered:

[code]

I checked the files and *all of them* were missing checks for thrown Errors/Exceptions. Since throwing specific errors in specific situations is a crucial part of the standard we should at least check, whether these errors are correct / compliant or not.

[2021-10-14 09:41] oklas commented on #36
"Just write PR" can only be done for just code and tests. Working on things like config and interacting with third party services tuned to a specific repository or branch requires access to the repository and branch and third party services. Therefore, the first way is to set up a similar complex of systems in another repository, which means not just a fork, but a complex of interconnected systems

[2021-10-14 15:00] tranzium opened #44 "Matching @types/node-oauth2-server"
In the event that @node-oauth/node-oauth2-server does not match @types/oauth2-server

[2021-10-14 18:47] jwerre commented on #20
@jankapunkt @HappyZombies, what would you guys say to removing support for callbacks all together?

[2021-10-14 19:54] jankapunkt commented on #20
I agree with @HappyZombies buy I will still take a look into it. In the meantime we can further discuss release management

[2021-10-15 07:42] #38 closed, assigned to nobody

[2021-10-16 15:20] jwerre opened #48 "Remove support for callbacks in models"
Callback support adds unneeded complexity. Models should be exclusively promise based version ^4.1.0. https://github.com/node-oauth/node-oauth2-server/issues/20#issuecomment-943633108

[2021-10-17 19:58] jankapunkt commented on #48
I agree, however

- this will be breaking, thus a new major release imo
- all tests will have to be manually checked against false-positives and false-negatives
- some tests may require to be updated
- if we use promises we can also safely write async functions as they should be natively supported with node >= 12
- then we can also use async functions for async mocha units
- I still would like to

[2021-10-18 15:22] jwerre commented on #48
@jankapunkt By next major version do you mean v5?  As far as I understand that's  the migration to TypeScript correct? If thats the case it would be nice to do this before all that happens. I think removing support for callbacks can happen now, as we move from **v3** to **v4**.

We don't really have to do much, just update the documentation and perhaps put a warning message if people try to use ca

[2021-10-18 16:03] jankapunkt commented on #48
Vice verca this means if we don't break big changes then we can easily do this as 4.1.0

[2021-11-05 07:57] jankapunkt opened #54 "Modernize code to ES6+"
I think we have a huge potential to transform as many variables as possible to `const` and `let` which allows us to have better scoping (block-scoped variables) and let's us detect unintended mutations early.

We already replaced many lodash functions with native ES6 alternatives so I think it might be good to consequentially do this for the rest of the code, too.

This issue is weakly related to

[2021-11-10 15:45] jwerre opened #55 "Make is.js it's own independent module"
[is.js](https://github.com/node-oauth/node-oauth2-server/blob/master/lib/validator/is.js) really slows down the tests. What do you guys think about moving it to it's own repository and adding it as a dependency?

<img width="1028" alt="Screen Shot 2021-11-10 at 8 42 09 AM" src="https://user-images.githubusercontent.com/747587/141144881-cc8d6604-e235-40e0-b8f2-ce9ce37f0435.png">

[2021-11-11 07:59] jankapunkt commented on #55
Hey @jwerre this code was written by me when I added these tests. The thing is, that the RegEx that is about to be tested allows nearly the whole unicode set and I do lots of permutations in order to cover them. This is course takes lot of time.

From my pov we should not remove them but we could update the docs and describe why this test is so slow (and give some background info).

We can also ad

[2021-11-11 08:25] jankapunkt opened #57 "Get rid of dependencies?"
I just checked a bit the current dependencies we have.

Regarding bluebird and promise I think we are good to remove them and they are covered by these issues already: #19 #20 #48

The other dependencies are the following:

### type-is

npm: https://www.npmjs.com/package/type-is
github: https://github.com/jshttp/type-is

#### dependencies:
- media-typer: https://www.npmjs.com/package/media-typer
-

[2021-11-11 12:23] jwerre commented on #55
@jankapunkt Yes I remember when you wrote these test. Nice work by the way—I agree with you that they were needed. I guess I'm not clear why you wouldn't want to add `is.js` as a dependance under the same organization. It's not really oauth specific, it's not likely to change, and it would shave 5.5 sec off the unit tests. It just doesn't make sense to run these tests with every deployment of `nod

[2021-11-11 12:55] jwerre commented on #57
I'm going to look more into this today. At first glance think we should definitely remove `basic-auth` but I agree `type-is` would be more difficult.

[2021-11-11 15:08] HappyZombies commented on #57
It seems that the reason for `basic-auth` was for safe buffers support so it could support older versions of Node. What would we simply parse the basic auth headers ourselves then?

[2021-11-11 16:53] jankapunkt commented on #55
Ah now I get, you want to add them as internal dependency. We could do this.

[2021-11-11 17:04] jwerre commented on #57
Removing `basic-auth` would be a major version change since it throws errors. These errors may be being caught in peoples apis.

[2021-11-11 17:14] Uzlopak opened #59 "auth0 mfa-otp"
Did somebody ever implemented a mfa-otp grant flow like auth0 did?

[2021-11-11 20:18] HappyZombies commented on #59
I did, though it's not an appropriate grant flow -- I can provide an example of what I did, it essentially is a middle layer that sits on top of my authorization_code grant type.

Are there any RFC guide lines for MFA for OAuth that we can maybe implement here? I really don't see anything on the official one.

[2021-11-11 20:44] Uzlopak commented on #59
I would be happy if you could provide me the example.

I think MFA is defined in the Financial Grade API.

[2021-11-11 21:57] Uzlopak commented on #59
@HappyZombies

I dont want to pressure you but can you tell me, when you could provide me your code, please?

Thx.

[2021-11-11 23:21] HappyZombies commented on #59
I'll try to get something by EOD or next week, I'll throw it on the example repo. Probably be an in memory database though to speed things up

[2021-11-12 09:34] jankapunkt commented on #59
@Uzlopak great to see you here :-D What do you both about adding this to the examples repo?

[2021-11-12 13:03] HappyZombies commented on #59
Yup I am actually making the code in the example repo :)

[2021-11-12 16:21] Uzlopak commented on #20
I also had a look into promisify-any. promisify-any is capable of wrapping also generator functions.

Is there any necessity to support generator functions?

[2021-11-12 16:59] Uzlopak opened #61 "SonarQube: Weak Cryptography in generateRandomToken"
I am currently running node-oauth2-server through sonarqube.

I know this part of the code was touched in #38.

Sonarqube shows for generateRandomToken following Security Hotspot
`Cryptographic hash algorithms such as MD2, MD4, MD5, MD6, HAVAL-128, HMAC-MD5, DSA (which uses SHA-1), RIPEMD, RIPEMD-128, RIPEMD-160, HMACRIPEMD160 and SHA-1 are no longer considered secure, because it is possible to ha

[2021-11-12 17:07] Uzlopak opened #62 "SonarQube: Control Character in UNICODECHARNOCRLF in is.js"
SonarQube remarks that it is most likely that the Control Character \u0009 is a bug.

0x9 is Tab-Control Character.

is.uchar is used in password-grant-type.js for validating the content of username and password.

The question here is: Is it possible to have Tab as a character of a username and/or password? I say: No

I think this is a valid finding.

I recommend to remove the Tab-Control-Characte

[2021-11-12 18:37] jankapunkt commented on #62
I would keep, since we should not define password requirements and neither does the standard but I will check again what the standard says to be sure on that.

[2021-11-12 18:42] Uzlopak commented on #62
@jankapunkt

you are right.

https://datatracker.ietf.org/doc/html/rfc6749#appendix-A

[code]

[2021-11-12 18:48] #62 closed

[2021-11-12 22:10] Uzlopak commented on #57
I would prefer that we remove those dependencies. Just simply by the fact, that it reduces the surface for potential attack vectors.

[2021-11-12 22:52] Uzlopak commented on #57
@jwerre

You mentioned that integrating or resolving those dependencies would be a major version. I kind of disagree. It would be more of a minor change, as the interfaces would not be changed.

[2021-11-12 22:53] jwerre commented on #57
@Uzlopak I think what you did would be fine for a minor change but I don't think we should throw the errors. They should be returned.

[2021-11-12 23:24] Uzlopak commented on #57
Hmm, we could return Errors, but would this not result in a deoptimization by V8 as the function gets polymorphic?

[2021-11-13 03:56] Uzlopak commented on #59
I really hope you can give me that middleware. In the meantime I start to extend oauth2-server with

- AssociateHandler like https://auth0.com/docs/login/mfa/ropg-mfa/enroll-and-challenge-otp-authenticators#enroll-authenticator
- AuthenticatorsHandler like https://auth0.com/docs/login/mfa/ropg-mfa/enroll-and-challenge-email-authenticators#challenge-with-email
- ChallengeHandler https://auth0.com/d

[2021-11-13 04:23] Uzlopak opened #64 "Scope Bug still existing?"
I have the bad feeling, that this bug was never fixed.

https://github.com/oauthjs/node-oauth2-server/issues/550

[2021-11-13 04:28] Uzlopak commented on #64
Also this
https://github.com/oauthjs/node-oauth2-server/pull/629#issuecomment-650564756

[2021-11-13 09:06] jankapunkt commented on #59
@Uzlopak regarding the last comment I think this should be discussed in the examples repo, right @HappyZombies ?

[2021-11-13 09:07] jankapunkt commented on #57
These decisions (throw vs return) should also be consulted by the OAuth 2.0 standard RFC(s) in order to see what it states. We need to be compliant before being performant.

[2021-11-13 09:09] jankapunkt commented on #55
@jwerre @HappyZombies I would start this as a new repo under this org if you both agree

[2021-11-13 09:16] jankapunkt commented on #64
This is definitely something that has to be covered in tests as well. @Uzlopak what is the second comment actually saying?

[2021-11-13 09:18] jankapunkt commented on #61
@Uzlopak which branch did sonarqube actually scan? The `master` branch was older and still had sha1, we just merged the latest updates into master after we published release 4.1.0

[2021-11-13 09:19] jankapunkt commented on #61
Can you please rescan targeting `development` which is always our latest state of code?

[2021-11-13 14:04] Uzlopak commented on #61
I did this in the first place with the development branch. Actually this is no real issue. It is just wasted cycles for the generateRandomToken, as it does not make any technical change, if I use randomBytes or if I use randomBytes and hash it with sha256. random is random and hasing from random is still random.

[2021-11-13 14:25] jwerre commented on #57
First off @Uzlopak, thank you for taking the time to do this. I'm fine with throwing errors but I'm not a fan of throwing frivolous errors. Let's not crash the process when ultimately [this is all that's true](https://github.com/Uzlopak/node-oauth2-server/blob/8383f6464f4cdb54d2dd0576cc973fe839df5383/lib/basic-auth/basic-auth.js#L98):

[code]

`getClientCredentials ` should only throw an [`invalid

[2021-11-13 19:42] jwerre commented on #57
Can you also add the grant type check after line [176](https://github.com/Uzlopak/node-oauth2-server/blob/8383f6464f4cdb54d2dd0576cc973fe839df5383/lib/handlers/token-handler.js#L176) similar to the one on line [202](https://github.com/Uzlopak/node-oauth2-server/blob/8383f6464f4cdb54d2dd0576cc973fe839df5383/lib/handlers/token-handler.js#L202)

[2021-11-14 10:56] jankapunkt opened #65 "Add security consideration section to integration tests"
We should add tests to fully cover [section 10 - security considerations](https://datatracker.ietf.org/doc/html/rfc6749.html#section-10) and cover as much as possible that can be covered without going into implementation details.

[2021-11-14 17:31] Uzlopak commented on #57
I actually think that your suggested code is much better than taking that old stuff from basic-auth package.
I mean, the low complexity of the original package is not worth the potential supply chain attack vector for this package.

[2021-11-15 15:21] jwerre commented on #65
I love this idea. I'm going to outline the tests and push a new `security` branch to start the discussion.

[2021-11-15 16:02] Uzlopak opened #66 "InvalidClientError should return 401"
https://datatracker.ietf.org/doc/html/rfc6749#section-5.2

[code]

[2021-11-15 16:36] Uzlopak commented on #61
Actually, we can do it much simpler...
According to https://datatracker.ietf.org/doc/html/rfc6749#appendix-A.17 refresh_token should be of format VSCHAR.

We could do something like this. By this, we would have some bigger range tokens.
[code]

By this we use the full range of valid characters and not only `/0-9a-f/`

[2021-11-15 16:59] Uzlopak opened #67 "Replace InvalidArgumentError with ServerError"
InvalidArgumentError or invalid_argument is not a oauth2-error. It is used by oauth2-server to indicate errors like that specific internal implementation is wrong. E.g. Request is missing header. Also the HttpStatusCode of 500 clearly indicates that it is a ServerError and not something what the enduser can control.

https://datatracker.ietf.org/doc/html/rfc6749#section-4.1.2.1
https://datatracker

[2021-11-15 17:02] jwerre commented on #65
I created a `security` branch and  started outlining some of the tests [here](https://github.com/node-oauth/node-oauth2-server/blob/security/test/unit/security_test.js).

This is going to take some time and I'm not sure how much of this is going to be testable without a client but I think it's a good goal. I'll continue to outline the tests and hopefully those will generate some good discussions.

[2021-11-15 17:55] Uzlopak commented on #5
Also i want to mention that the integration tests are imho basically pointless.

Currently everything is mocked with pointless stubs. How you want to check if the scope is valid, if the method always returns a specified return value.

It would be better to implement an in memory model. And write unit tests which check the correct behavior of the memory model and then run tests against it. Thus sho

[2021-11-15 18:13] jwerre opened #68 "Don't repeat tests when they fail."
Let's change this to 0... why repeat failed tests?

https://github.com/node-oauth/node-oauth2-server/blob/485147fb156310527456e06da41780b188cf2ca1/.mocharc.yml#L3

[2021-11-15 18:30] Uzlopak opened #69 "Replace UnauthorizedRequestError with InvalidRequestError"
The UnauthorizedRequestError is not a standard error code. According to the reference in the comment https://datatracker.ietf.org/doc/html/rfc6750#section-3.1 there is no unauthorized_request error.

UnauthorizedRequestError is used in the AuthenticateHandler for indicating that there was no token in body and header.
According to the Spec it should be an InvalidRequestError, as the token is clearl

[2021-11-15 18:32] Uzlopak commented on #69
Thus, the correct ErrorCode for missing token is 400 and not 401

[2021-11-15 20:30] jankapunkt commented on #68
Yes you are right, fail early fail often

[2021-11-15 20:59] jwerre commented on #48
@jankapunkt, @HappyZombies I found some time to work on this a bit today. I removed `bluebird` and `promisify-any` on the `abstract-grant-type.js`. Restricted the tests.

If you get some time take a look and let me know if you have any questions/concerns: https://github.com/node-oauth/node-oauth2-server/commit/4a360eee835feeb6899740d01cf76692b466523e. If all looks good I'll continue to chip away a

[2021-11-15 21:58] jwerre opened #70 "Remove util.inherits"
Use ES6 `Class` syntax with `extends` instead of [`utils.inherits`](https://nodejs.org/docs/latest-v14.x/api/util.html#util_util_inherits_constructor_superconstructor)

https://github.com/node-oauth/node-oauth2-server/blob/485147fb156310527456e06da41780b188cf2ca1/lib/grant-types/authorization-code-grant-type.js#L47

https://github.com/node-oauth/node-oauth2-server/blob/485147fb156310527456e06da417

[2021-11-15 22:18] HappyZombies commented on #70
Wouldn't this require to change these functions to be `class AuthorizationCodeGrantType extends AbstractGrantType`?

[2021-11-15 22:19] jwerre commented on #70
Yes.

[2021-11-15 22:33] HappyZombies commented on #59
We can still talk here since we already got the thread going, once I put the example up

@jankapunkt This isn't really some middleware, but really just extra functionality that sits on top of the authorization_code flow -- though I am sure it can be used as custom grant extension that this module provides.

I will try my best to get you an example tonight! But essentially, we have a `/login` route

[2021-11-15 23:57] Uzlopak commented on #70
Try out https://lebab.unibtc.me/editor

[2021-11-16 00:06] Uzlopak opened #71 "validateScope and veryifyScope are anti-patterns?!"
The model says, we should provide the functions `validateScope` and `verifyScope`. The implementor has to write a correct function, which filters out invalid or not allowed scopes. This can result in a bad implementation, as the implementor could mess it up.

Despite burdening the implementor with the task to write a correct function, the framework should ask for a getScopesOfUser (name disputable

[2021-11-16 00:37] Uzlopak opened #72 "ResourceOwnerPasswordGrant: getUser should use request instead of username, password as parameters"
I think, it is kind bad, that we can not access directly the request. It enforces the implementor to only have the fields username and password available.

I remember, that I once had to use more information in the getUser-function and had to implement an ugly hack (concat the fields into the userfield and split them again in the implementation) just be able to process the the data then in the get

[2021-11-16 03:11] HappyZombies commented on #59
@Uzlopak I added the example here https://github.com/node-oauth/node-oauth2-server-examples/tree/feature.mfa-example/mfa-example Keep in mind again that this a custom implementation and doesn't follow anything in particular. Uses everything in memory.

This example is not quiet done yet, I still gotta mock/implement some small things, but the overall part of it is done :) Please let me know if you

[2021-11-16 09:49] jankapunkt commented on #66
@Uzlopak  which lines and which tests are affected by this? We need to update tests for this, too!

[2021-11-16 09:50] jankapunkt commented on #67
Please also add, which parts of the code are affected and which tests need to be updated.

[2021-11-16 09:57] jankapunkt commented on #69
Hm but there is also

         The access token provided is expired, revoked, malformed, or
         invalid for other reasons.  The resource SHOULD respond with
         the HTTP 401 (Unauthorized) status code.  The client MAY
         request a new access token and retry the protected resource
         request.

I think the part `invalid for other reason` is interpreted as "missing". However, I

[2021-11-16 09:59] jankapunkt commented on #70
Since #58 is merged I could start working on this on a new branch

[2021-11-16 10:00] jankapunkt commented on #71
So do I understand it correctly, that you want to have an additional function that supports the user to validate their integrity before runtime?

[2021-11-16 10:02] jankapunkt commented on #72
Can you provide a simple example? This was never an issue to me but maybe I just use it differently?

[2021-11-16 11:56] Uzlopak commented on #71
No. Currently the implementor has to implement e.g. validateScope Method

https://oauth2-server.readthedocs.io/en/latest/model/spec.html#model-validatescope

[code]

But I say: Why should you implement this function to validateScope?
It should be actually:

[code]

The actual validating should be done in the Framework, reducing the risk, that the implementor fucks somehow up.

[2021-11-16 11:59] Uzlopak commented on #69
Good argument, but also this would mean, that we would not need that UnauthorizedRequestError but invalid_token with 401.

[2021-11-16 12:01] Uzlopak commented on #67
Its actually scattered all over the place. It is everywhere used where an InternalServerError should be thrown because the implementor made an implementation error.

[2021-11-16 12:02] HappyZombies commented on #71
So we want to implement how we get scope? I don't think this is possible because scope can be passed a number of different ways. By us implementing it, we kinda force the user to pass scope to us a certain way.

If we are to assume a query parameter, scope can be....

'scope=test,test2,test3'

Or

'scope=[test,test2,test]'

Depending on the API design that a person chooses, we can expect either of

[2021-11-16 12:36] HappyZombies commented on #72
Passing the entire request object maybe a little dangerous, we could accidentally modify the request object and totally mess up one's request. I think we should try keep request objects away from the OAuthModel definitions the users define.

If you need more info, using a custom extension grant is the way to go.

[2021-11-16 12:36] Uzlopak commented on #71
Hmm. Actually frameworks use url package of node to parse the query. But I agree that it could be an issue.

But I also think this argument does not count, because validateScope does not get the request object. It gets user client and scope (derived by oauth2-server from the request) as parameters. So even now the implementor does not have the ability to parse the query string from the original re

[2021-11-16 12:48] jwerre commented on #69
Both are good points. Just out of curiosity I've hit a couple of well know APIs without an access token:

[code]

[code]

[code]

[2021-11-16 13:02] Uzlopak commented on #69
I tested the three above mentioned resource servers and only stripe made a RFC6750 conform response.

Return Value of the resource server is:

[code]

InvalidRequestError ^^

[2021-11-16 15:54] jwerre commented on #69
So it should be `401:invalid_request_error`. Do you concur @jankapunkt @HappyZombies ?

[2021-11-16 16:19] Uzlopak commented on #64
I think the issue is still existing. Did not tested though... But only by reading the code it seems trivial to hack such an oauth2-server-implemenation.

In generateAccessToken of the model you get the scope passed. As an implementor you expect that the scope is validated and stripped from invalid or not allowed scopes.

This bug will not occur if you check the access token as simple identifier to

[2021-11-16 16:24] Uzlopak commented on #67
We could also just patch the InvalidArgumentError to extend ServerError or change invalid_argument to server_error.

[2021-11-16 16:38] Uzlopak opened #73 "Conformance tests"
Maybe there is something useful here https://www.certification.openid.net/

Seems actually be OIDC specific. But maybe there is something we could use.

[2021-11-16 17:15] Uzlopak commented on #64
Reported it to snyk

I wrote here what I wrote to snyk
https://github.com/oauthjs/node-oauth2-server/issues/720

[2021-11-16 17:30] HappyZombies commented on #64
Awesome, but not much hope in them doing anything. In the meantime we can address the fix here.

[2021-11-16 17:34] HappyZombies commented on #64
I thought that the RFC implementation is NOT for JWTs, this only handles returning access tokens. No where in the RFC does it mention how to handle JWTs, in which case, how are you using JWTs @Uzlopak ?

[2021-11-16 17:34] HappyZombies commented on #73
I am not quiet sure what this is, is it a demo?

[2021-11-16 17:35] HappyZombies commented on #73
Oh nvm I see the info about this here https://openid.net/certification/about-conformance-suite/

[2021-11-16 17:37] HappyZombies commented on #22
We will move discussions to examples over here https://github.com/node-oauth/node-oauth2-server-examples

[2021-11-16 17:37] #22 closed

[2021-11-16 17:40] #31 closed, assigned to nobody

[2021-11-16 17:41] HappyZombies commented on #54
@jankapunkt is there any other place we need to update for ES6+? If not we can close this item :)

[2021-11-16 17:42] #59 closed

[2021-11-16 17:47] Uzlopak commented on #64
RFC 6750 makes it mandatory to use characters which base64 uses for the Bearer Token.
https://datatracker.ietf.org/doc/html/rfc6750#section-2.1

So they always had in mind, that you could use the Bearer Token for transporting information.

https://www.oauth.com/oauth2-servers/access-tokens/self-encoded-access-tokens/

And this specific "JSON Web Token (JWT) Profile for OAuth 2.0 Client Authenticat

[2021-11-16 17:48] Uzlopak commented on #59
Thank you ;)

[2021-11-17 01:42] Uzlopak opened #76 "Implement PKCE"
See https://snyk.io/vuln/npm:oauth2-server
https://github.com/oauthjs/node-oauth2-server/pull/452

[2021-11-17 09:13] Uzlopak commented on #65
Actually some interesting stuff. Like the authorization code should not be used multiple times, but if it is then revoke all access tokens based on the authorization code.

So some of these tests mean that we have to store some additional data, like a reference to the authorizationcode (code itself or e.g. a sha1 hash) in the access token) to be able to revoke all access tokens based on that autho

[2021-11-17 15:17] Uzlopak opened #77 "getters of Model, expected return value?"
Well. When I read #6 i realized:

The Model Implementations for the getters (e.g. getAccessToken) return strictly IToken.

So do we expect that model functions throw errors when the requested data is not existing?

The original documentation does not say anything regarding that
https://oauth2-server.readthedocs.io/en/latest/model/spec.html#model-getauthorizationcode

And what about the code exampl

[2021-11-17 16:04] Uzlopak commented on #71
I think we can get rid of validateScope completely.

We would need to add scopes to the client. This would be conform with RFC 6749 as it states
https://datatracker.ietf.org/doc/html/rfc6749#section-1.3.4

[code]
"under the control of the client" => client specific scopes (?)

And then we have an internal method for filterScopes ( name pending) which takes the userScopes, clientScopes and requeste

[2021-11-17 16:10] Uzlopak commented on #71
Also the current implementation enforces that if the client credential flow is used, that there is a technical user assigned to the Client. Thats why we have the getUserFromClient-model-function. This is imho wrong, as the client has an id and secret, which equivalent to the Resource Owner Password Flow. The client id is so to say the userid/username.

So there should be no getUserFromClient metho

[2021-11-17 16:20] Uzlopak commented on #71
I would expect something like this. No need for the intersection.

[code]

[2021-11-17 18:15] Uzlopak commented on #71
Or better: Just validate and if an invalid scope is there, throw

[code]

[2021-11-17 20:09] #54 closed

[2021-11-17 20:14] jankapunkt commented on #64
This seems to be high priority to me. Am I correct, that this is related to #71 ?

[2021-11-17 20:26] jankapunkt commented on #48
@jwerre do you mind open a draft PR so we don't forget you working on this? I will check it out later but I want to focus on some of the security-related issues for the next days.

[2021-11-17 20:32] Uzlopak commented on #64
@jankapunkt

Well #71 would be a breaking change as we would modify the model. There could be implementations, were it the implementer wants to have partial valid scopes without throwing errors... for what reason...

This issue can be patched in the saveToken functions of ClientCredentialsGrant, PasswordGrant and AuthorizationCodeGrant by running the validateScope of the model separately and use t

[2021-11-17 20:53] jankapunkt commented on #64
@Uzlopak can we approach this issue from a different perspective? I first like to create a few tests (which could also be part of the new security test suite, see #65) before implementing the fixes. Can you help me out with a few ones? Maybe creating a new branch `fix-scope-bug` and add one or two?

[2021-11-17 20:56] HappyZombies commented on #71
To avoid backwards breaking, the method can contain a deprecation warning of some sort but we still run it if it's implemented by some people (aka me lol)

[2021-11-17 21:29] Uzlopak commented on #64
I am currently too far in my implementation and tbh I have some deadlines to meet. Last week I printed out RFC 6749 and I implement currently an OAuth2-Authorization Server based on fastify. Everytime I implement something according to spec, i mark the corresponding part in the RFC as done. I use oauth2-server just as inspiration on how to implement it and thats why I am finding those issues, when

[2021-11-17 21:33] Uzlopak opened #78 "Discord? Slack? A place to chat?"
Can we have a place to chat?
Slack or Discord would be cool. Then I could annoy you constantly with OAuth2-related stuff.

[2021-11-18 01:44] HappyZombies commented on #78
I'm down, but I'm not volunteering to be a mod/admin or whatever cuz idk how to run those things. Also is Gitter a thing or do people not really use that?

[2021-11-18 02:41] Uzlopak commented on #78
I am OK with gitter.

[2021-11-18 05:07] Uzlopak commented on #61
According to https://datatracker.ietf.org/doc/html/rfc6749#section-10.10
[code]
It is now very late, but I think with using the reduced ascii range (256-32=242 characters) and a length of 64 (like sha256) you would have a magnitude higher security.

Current probability to guess the token: 16^64. (= 2 ^ 256, 16 characters with a length of 64)
With this: 242^64 (~ 2^499, 242 characters and with a le

[2021-11-18 06:35] jankapunkt commented on #78
I think gitter is ok. I also use discord.

[2021-11-18 07:24] jorenvandeweyer commented on #78
I'd prefer Discord or Slack to follow up on discussions.

[2021-11-18 08:12] jankapunkt commented on #76
Related: [rfc7636](https://datatracker.ietf.org/doc/html/rfc7636)

[2021-11-18 12:02] HappyZombies commented on #78
I will say though that we should use these other tools as an extra thing to look up questions, not solely use discord or Gitter or whatever.

I can’t stand when I read on some projects “for questions, check out our discord”. Which I interpret as “looking up questions isn’t a thing”. Not everyone is gonna wanna make a account just to ask something, some people search in GitHub issues for questions

[2021-11-18 13:05] jankapunkt commented on #61
Question is, if clients / implemenations will be able to handle data different from `/0-9a-f/` so this might be breaking, right?

[2021-11-18 13:06] jankapunkt commented on #78
I'd rather use them for longer discussions to keep issues on point, especially when topics are broad. Questions should be asked in these issues sections.

[2021-11-18 13:29] Uzlopak commented on #61
Could be. But usually generateAccessToken and generateRefreshToken is implemented in the model and generateRandomToken is just fallback. I think it would still make sense to implement it in a major version.

A former employer uses oauth2-server and the tokens are alphanumerical and they decided to make the accessTokens suuuuper huge. I think it was 512 characters for accessToken and 2048 character

[2021-11-18 14:56] Uzlopak opened #79 "RFC-Conformity depends on Implementation"
We should document, that some conformity rules can only be implemented by the express/fastify/koa-etc. layer.

Maybe we should collect the MUST rules for meeting the conformity requirements but are (currently?) out of scope of the oauth2-server.

- the authorization endpoint MUST support the GET method. probably alot of people only implement the post but not the get method.
[code]
https://datatrac

[2021-11-18 17:37] Uzlopak opened #80 "Solving appropriate the Client Side RefreshToken Race Issue"
I wrote a very nice text and now I am just sad because my Chrome freeze and every well formulated word is gone.

So again...but shorter

In native applications we dont have a Race Condition when refreshing a Access Token. But in a Browser-App we have the issue, that we will use multiple Tabs. So if an Access Token expires or is going to expire, all the Tabs start to Refresh the Token. Even if we u

[2021-11-18 17:41] Uzlopak commented on #80
See also
https://hackerone.com/reports/55140

The refreshTokenExpirationDelay could be named alwaysIssueNewRefreshTokenGracePeriod

[2021-11-19 07:19] jankapunkt commented on #79
This is a very good idea, because it would help client implementations to write their own compliance suite much more efficiently.

[2021-11-19 07:20] jankapunkt commented on #79
We should create a documentation like `COMPLIANCE.md` for that.

[2021-11-19 18:45] Uzlopak opened #81 "Missing distinction between public and confidential clients"
Currently there  is not distinction between confidential and public clients as it is needed by RFC6749

We should add an attribute "type" for the Client-Object.
In the Authorization Grant Flow Access Token is used, we need not only the client_id in the payload but also the client credentials in the authoriation header if it is a confidential client. see RFC 6749 4.1.3

Currently it is not really b

[2021-11-21 01:59] Uzlopak commented on #61
Hi,

tested the performance of the above implementation. It is quite slow. About 13.000 valid tokens per second in my fastify implementation. (I do a password grant against my in memory model).

So this is my high performance implementation, which gets about 165k /s valid tokens. I guess there is the fastify overhead, but I guess, if you run this in a benchmark, it will be also 10x faster than the

[2021-11-21 02:40] Uzlopak opened #82 "AuthorizationCode not revoked early enough"
This is a small security issue if I understood bluebirds tap method correctly.

See also:
https://github.com/oauthjs/node-oauth2-server/issues/637

I think we should revoke the AuthorizationCode much much earlier, by moving the revokeAuthorizationCode call above the redirectUri check.

https://github.com/node-oauth/node-oauth2-server/blob/485147fb156310527456e06da41780b188cf2ca1/lib/grant-types/au

[2021-11-21 10:27] jankapunkt commented on #61
@Uzlopak would you mind opening a PR for this, so we can leverage GitHub actions for code quality assurance and the review function for better reasoning about the code?

[2021-11-21 10:29] jankapunkt commented on #82
We are about to remove Bluebird soon so we need to take this into consideration. @jwerre is currently working on a first proof of concept.

[2021-11-21 12:37] jwerre commented on #55
I put `is.js` into it's on [repo](https://github.com/node-oauth/is-unicode). @HappyZombies would you mind publishing this to NPM? Once that's done I'll update the code and create a PR. @jankapunkt feel free to clone and make any changes you see fit.

[2021-11-21 12:54] jwerre commented on #82
Yes, I agree. Removing Bluebird will be the next version so we should probably do this in this version as well. Can you make a PR for this @Uzlopak.

[2021-11-21 17:50] Uzlopak commented on #82
@jwerre a pr to move the revokation a step higher? Or a or for removing bluebird?

[2021-11-22 08:34] jankapunkt commented on #55
@jwerre @HappyZombies I would first make some additions, like adding the namespace, updating the README, link the RFC docs etc. I'll link the PR here

[2021-11-22 09:09] jankapunkt commented on #55
See https://github.com/node-oauth/is-unicode/pull/1

[2021-11-22 12:25] jwerre commented on #82
to move the revokation

[2021-11-23 12:31] jorenvandeweyer opened #84 "Move validateScope outside promise.all"
When there is an invalid scope passed, there is still an `accessToken` and `refreshToken` generated.

## Code
https://github.com/node-oauth/node-oauth2-server/blob/015416563fcd5f0dd58e562aabd1b117d4bfa361/lib/grant-types/password-grant-type.js#L105-L127

## Suggestion
Move `this.validateScope(user, client, scope)` out of the array and check this before generating the tokens.

## Use case
We use JW

[2021-11-23 13:08] jorenvandeweyer commented on #84
It seems like some suggestions in #64 might fix this indirectly.

[2021-11-23 13:26] jorenvandeweyer commented on #78
I went a head and created a Discord server.

https://discord.gg/4HTUAcTvqV

[2021-11-24 15:07] #2 closed

[2021-11-24 15:08] #78 closed

[2021-11-24 15:09] HappyZombies opened #85 "Feel free to join our Discord for live chatting"
https://discord.gg/4HTUAcTvqV

The Discord is not a replacement for the issue board, please do not use the discord for bug reporting.

[2021-11-25 10:39] jankapunkt commented on #76
I started this here: #86

[2021-11-28 14:50] FStefanni opened #89 "[meta] list of original project pr"
Hi,

this is a list of original project pr still open, to be analyzed and possibly integrated in this code base.

* [x] 1 [2.x support: oauth.token promise, returns token object instead of sending response - 424](https://github.com/oauthjs/node-oauth2-server/pull/424)
    * This is referring to a very old version, no more relevant
* [x] 2 [PKCE - 452](https://github.com/oauthjs/node-oauth2-server/

[2021-11-28 15:35] HappyZombies commented on #89
I don't think we need to be tracking the dependabot PRs, those will be made for us automatically

[2021-11-28 15:43] FStefanni commented on #89
Hi,

I agree. This was just to have a complete log of currently open pr's.
Basically, this is just a one time stuff, just to be sure to not miss anything.
But if you prefer, I can just delete the lines.

Regards.

[2021-11-28 15:48] FStefanni commented on #76
Hi,

if can be of any help, this is the full list of pr related to PKCE, in the original project:

* https://github.com/oauthjs/node-oauth2-server/pull/452
* https://github.com/oauthjs/node-oauth2-server/pull/658
* https://github.com/oauthjs/node-oauth2-server/pull/659

Regards.

[2021-11-28 16:28] FStefanni commented on #89
Hi,

there are some pr referring to the `v5-dev` branch (typescript).
I believe they are no more useful, since probably the new Typescript implementation will start from the current `master` branch, which is more up-to-date (the old `v5-dev` could be just of inspiration on how to translate).
If you agree, I mark them as "fixed".

Regards.

[2021-11-29 08:00] jankapunkt commented on #89
Thanks a lot for the list @FStefanni :+1:

Please note to read our contributions guidelines before opening a PR and use the PR Template, so we all have an easier reviewing and PR process.

[2021-11-29 08:28] jankapunkt commented on #89
By the way is there a way to write tests to validate the `rst` definitions?

[2021-12-04 11:21] jankapunkt commented on #89
@FStefanni do you mind adding your review to #93 and #94 ?

[2021-12-04 11:24] jankapunkt opened #95 "Add sha512sum to package.json"
To improve trust I thought we may add the sha512sum (the one which is added during npm pubklish to the package.json) to every commit or at least every commit that is used when publishing a new version.

Alternatively, is there a better or more "best practice" way to give people the chance to easily (accessible) verify the packge's code integrity with the code on GitHub?

[2021-12-05 10:38] FStefanni commented on #89
Hi,

I commented directly in the two pr.

Regards.

[2021-12-10 10:22] jankapunkt commented on #64
@uzlopak - can you please check on https://github.com/node-oauth/node-oauth2-server/pull/103 if this fixes the issue?

[2021-12-11 13:02] jorenvandeweyer opened #104 "Scope in refresh_token grant type is ignored."
While checking the compliance of the `refresh_token` grant. I discovered that the optional scope parameter in the body is ignored.

https://github.com/node-oauth/node-oauth2-server/blob/1b91ddc5ddc4bf75a6b6d8548b27591b9750e338/lib/grant-types/refresh-token-grant-type.js#L64-L73

https://datatracker.ietf.org/doc/html/rfc6749#section-6

[2021-12-11 15:24] Uzlopak commented on #55
I am sorry to be nagging on the wording, but I think the name is wrong. it is not a "is-unicode"  package because some of the validators are not unicode but simple ascii. It is actually something like oauth2-formats (naming similar to something like ajv-formats).

[2021-12-11 15:32] jankapunkt commented on #55
@jwerre what do you think about renaming? It's at least not published, yet.

[2021-12-11 15:34] jwerre commented on #55
Yes! Good call @Uzlopak

[2021-12-11 15:35] jankapunkt commented on #104
@jorenvandeweyer great you found this!

[2021-12-11 15:41] jankapunkt commented on #55
I will rename and then publish, so we can finally integrate it :-)

[2021-12-11 16:03] jankapunkt commented on #55
Published 1.0.0: https://www.npmjs.com/package/@node-oauth/formats
Let's keep this open until we integrated it into the main package

[2021-12-13 12:05] Uzlopak commented on #104
I thought about this issue yesterday.

We have to be careful how we implement this. With the current ignored scope parameter there is no potential security issue. You always get the scope of the original requested scope (?).

 But Imagine following case:

Authorization Code Grant: User can select three scopes: "read write delete" but selects only read scope. Now if refresh token would contains sco

[2021-12-18 14:35] dsschiramm commented on #70
I'll start with this issue ok?
Seems like a good start for me (first time in a project doing something in an opensource project)

[2021-12-18 16:25] dsschiramm commented on #70
Should I change the way the import is written as well?

Example:
`const AbstractGrantType = require('./abstract-grant-type');`
To
`import AbstractGrantType from './abstract-grant-type';`

Or should I leave this change for another issue/pull request?

[2021-12-18 16:32] Uzlopak commented on #70
Dont change, as it would just open the whole can of worms of esModule imports potentially breaking while running on node because of some reasons.

[2021-12-19 13:46] jorenvandeweyer commented on #89
I checked of number 7 since that pull request makes no sense and even makes it worse. We already have our own issue that addresses the old issue. #104

[2021-12-19 13:51] jorenvandeweyer commented on #44
#6 resolved this issue

[2021-12-19 13:51] #44 closed

[2021-12-19 13:52] jorenvandeweyer commented on #55
Resolved by #108

[2021-12-19 13:52] #55 closed

[2021-12-20 09:07] Uzlopak commented on #42
@jorenvandeweyer made already the first step for real integration tests in his #100 PR

Tbh I think we should implement more of those tests.

[2021-12-20 09:22] jankapunkt commented on #42
I agree!

[2022-01-07 00:32] gbkwiatt opened #114 "Support for multiple apps/project (duplicate users)"
I was just creating my own OAuth2 server base on this repo.
Main advantage in my head was, that I can use this server for multiple projects, but with that it means usernames could be duplicates, e.g. same users for different apps.

my idea was, to store users, against `clientId` however on `getUser` we don't have `clientId` to fetch it by.

Is there something I am missing ? is there better way to

[2022-01-07 08:59] jankapunkt commented on #114
This is up to your implementation, this package is not scoped for user management. In my projects we have an authenticated / authorized route (authorization code grant workflow) that returns the user's identity and there we fetch user by id.

Maybe you add some code snipped on how you currently retrieve your user and maybe we can make a generic solution as example for the documentation out of it.

[2022-01-07 10:06] gbkwiatt commented on #114
All I got for fetching the user is username and password, assuming username usually is email, it won't allow multiple apps/project for same users

So I want to fetch user  by `username + clientId` pair and make that pair unique in the table

I think it will be sufficient if you add client argument to password grant.
e.g in `password-grant-type.js`
[code]
and then
`PasswordGrantType.prototype.getUs

[2022-01-07 10:59] gbkwiatt opened #115 "General question about flow and models"
Well,  I've got that brilliant idea to spin my own oauth2 server ;).
My Idea is so I can use it for my multiple project without needing to implement the whole logic for each API like I did before.
To the point:

Currently I only want 2 grants, `client_credentials` and `password`.
So `password` grant will be for users to register and obtain token, with lets say `scope: user`
and for that I will onl

[2022-01-13 07:52] jankapunkt opened #116 "Don't run CI on draft pull requests for releases"
To prevent CI from failing (and spamming our inbox) on draft pull requests (which can fail as they are reflecting work in progress) we should disable lint/tests etc. when the PR is in draft state.

According to [this discussion](https://github.community/t/dont-run-actions-on-draft-pull-requests/16817) it is solved like so:

[code]

[2022-01-13 09:33] jankapunkt opened #118 "Host documentation on Github pages"
We can easily host the docs on GH pages.

[2022-01-13 09:40] jankapunkt commented on #118
Okay I found this not to be so easy, since Github pages does not support .rst but only html and markdown.

I can provide a very easy way to generate markdown for the api from jsdoc using `jsdoc-to-markdown` but the user documentation would need a different appraoch:

- either find a way to auto-transform all files from rst to html / markdown (like here: https://github.com/annegentle/create-demo)
-

[2022-01-18 19:57] jankapunkt commented on #68
@jwerre did you leave the project? I just wanted to mention you in another PR and found, that you are not in the team list anymore :eyes:

[2022-01-18 19:59] jankapunkt commented on #116
will be added in #117

[2022-01-18 20:10] jankapunkt opened #121 "Automated vs manual releases"
Hey @jorenvandeweyer @jwerre @Uzlopak @HappyZombies with the recent development of what happened with some repos and packages we might want to re-think about the level of automation of publishing.

The current open PR #117 would implement publishing to NPM when creating a new release on Github. This is very handy, since

- it's less error-prone as it's directly reflecting the release/tag/commit of

[2022-01-18 20:11] jwerre commented on #68
Ya, sorry guys... I mentioned it in the Discord. I wish I had more time to work on this I'm pretty busy these days. :(

[2022-01-18 20:39] jankapunkt commented on #68
Ah I see thanks for all your contribution so far I think we already did a great move! There is one open PR #107  of yours, I would pick it up and finish if you are okay with it

[2022-01-18 21:14] jwerre commented on #68
Yes please do.

[2022-02-01 17:34] jankapunkt opened #127 "b64 regex token checks"
@jorenvandeweyer [commented](https://github.com/node-oauth/node-oauth2-server/pull/105/files#r771944545) on pr #105:

b64token    = 1*( ALPHA / DIGIT /
                  "-" / "." / "_" / "~" / "+" / "/" ) *"="
credentials = "Bearer" 1*SP b64token

[2022-02-01 17:47] jankapunkt commented on #127
Does it make sense to implement this here: https://github.com/node-oauth/formats ?

[2022-03-29 17:18] HappyZombies commented on #121
@jankapunkt I am with you, especially now that only us two can publish, I think it would be wise to remove release.yml for the 4.2.0 release.

[2022-03-29 17:19] HappyZombies commented on #118
This would be great, but a massive effort. I think this is something I can work on next.

[2022-03-29 17:21] HappyZombies commented on #95
@jankapunkt This is something I haven't done before. I am down with this, but what would this look like?

[2022-05-28 07:03] manian-kumaran opened #149 "4.2.0 milestone"
Hi,

I noticed high activity at the end of 2021, and it stoped with 4.1.1 in Nov 2021 since then. Is this fork still maintained, and is there plan to release minor or major 4.2.0 version?

I want to use this node oauth2 server but I'm worried if the fork becomes unmaintained like its parent https://github.com/oauthjs/node-oauth2-server

[2022-05-28 10:52] jankapunkt commented on #149
Hi @manian-kumaran yes we are still active. Currently things went good and stable which we had no pressure to release a newer version. I am moving things forward. Is there something in particular in 4.2.0 that you require?

[2022-05-30 03:40] manian-kumaran commented on #149
@jankapunkt Thank you.

It's good to know it's active and stable. I was more concerned since this package is for security and its parent is not actively maintained. I also read that this 4.1.1 contains bug fixes of the parent that was not released for a long time.

So, I'm quite happy to hear that this forked is actively maintained. I don't need anything particular or new features in 4.2.0. In fac

[2022-06-04 17:21] HappyZombies commented on #5
Closing this issue as other individual items have been made and I believe we have addressed all we could here.

[2022-06-04 17:21] #5 closed

[2022-06-04 17:22] HappyZombies commented on #16
Closing in favor of #121

[2022-06-04 17:22] #16 closed

[2022-06-04 17:42] HappyZombies commented on #36
Closing since we are done here and also due to #121

[2022-06-04 17:42] #36 closed

[2022-06-04 17:44] HappyZombies commented on #40
Closing in favor of #118

[2022-06-04 17:44] #40 closed

[2022-06-04 18:07] HappyZombies commented on #118
Created the repo of https://github.com/node-oauth/node-oauth2-server-docs to begin this transition

[2022-06-06 07:15] #149 closed

[2022-06-06 07:36] jankapunkt commented on #89
Can we update this list to see what exactly is still missing? Also we should [discuss, whether these should be part of v5](https://github.com/node-oauth/node-oauth2-server/discussions/152) or if they should already be published sooner, for example in a 4.3.0 release or something,

[2022-06-06 07:39] jankapunkt commented on #73
If we can get this running locally somehow in a reproducible way we can integrate this into our CI and run this, for example, on `release-*` branches.

[2022-07-05 08:51] Chicooz opened #153 "invalid_argument data is passed with null value in TokenModel"
when i request token with password grant_type i always get :
`{
    "err": {
        "statusCode": 500,
        "status": 500,
        "code": 500,
        "message": "Missing parameter: `accessToken`",
        "name": "invalid_argument"
    }
}`

this is my code : https://gist.github.com/Chicooz/2eb9eaed70965e4da42d439f893c8d3b

thanks for your help

[2022-07-05 11:01] Chicooz commented on #153
thanks i found that i'm missing a return in my save token function, thanks again

[2022-07-05 11:01] #153 closed

[2022-07-12 09:08] Uzlopak commented on #71
In the Client Credential Flow you expect that the Client itself has right to access the resources. So you would actually have a clientId, which would be the actual "username".

[2022-08-25 07:40] #116 closed

[2022-08-25 08:07] jankapunkt opened #155 "Update targeted Node versions"
https://nodejs.org/en/about/releases/

The current active releases are 14 to 20 where 14 is already in maintenance until 06/2023.

We should update our targeted node versions to 14+

[2022-09-07 12:08] Manokii opened #159 "`refreshToken` and `refreshTokenLifetime` is undefined when generating accessToken"

[2022-09-07 12:19] jankapunkt commented on #159
Hi @Manokii thank you for the issue. Please add some more information:

Which version do you use?
Which workflow is affected?

[2022-09-07 12:32] Manokii commented on #159
I just read the docs, https://www.rfc-editor.org/rfc/rfc6749#section-4.4.3

I thought client_credentials grant are given refresh token, please disregard this issue

[2022-09-07 12:32] #159 closed

[2022-09-16 14:51] jankapunkt opened #160 "Improve documentation by adding jsDoc compatible method documentations"
I found many functions lack of proper parameter descriptions, for example in `server.js`. Especially `options`  are often completely undocumented.

[2022-09-21 23:44] beeing commented on #118
Hi guys, I see the docs repo is still empty.

How about to initial auto transform the rst to markdown and then commit it to the docs repo to start with?

It will allow for further refinements.

Thanks for such efforts.

[2022-09-21 23:47] beeing commented on #118
Found this gist that can be helpful to start with https://gist.github.com/zaiste/77a946bbba73f5c4d33f3106a494e6cd

[2022-09-22 06:02] jankapunkt commented on #118
Hey @beeing that looks good. I would love to see a PR on this one as it looks pretty easy and would be a good chance for you to do your first contribution. I will accompany you with reviews and help.

[2022-09-28 18:21] nekman commented on #76
This issue is labeled with high priority. However, it have been open for 10 months. When do you plan to release this? Or must all issues in the v4.3 milestone be completed first? I don't want to stress anything, just would like to have this feature in the library 👍

[2022-09-28 19:03] jankapunkt commented on #76
Hi @nekman as I stated a few times, we need more people to test this with a real world setup. Just a few days ago someone did and revealed a missing feature which is now added as another PR.

If you want to get this feature faster merged then please help out with testing.

I have limited resources as I have only the authorization code workflow as setup to test. The other workflows can only be test

[2022-09-28 19:23] nekman commented on #76
Thanks for the information @jankapunkt. Of course we should not stress anything. Important to get it right and well tested. I will see what I can do!

[2022-10-01 02:00] tswaters opened #162 "Are there breaking changes in 4.0+?"
Just coming from [node-oauth2-server#740 ](https://github.com/oauthjs/node-oauth2-server/issues/740) and I see there was a major version bump from 3 -> 4, but the chnagelog doesn't show any breaking changes.  Was there anything to warrant a major bump?  I'm wanting to switch to this package in a project I have and am unsure if I need to worry about breaking changes.

[2022-10-01 12:03] jankapunkt commented on #162
Hi @tswaters thank your for interest in this package. We did the major bump mainly to have a clean break from the original project. Besides that you should be able to upgrade without no major breaks.

However there are minor things that may be "breaking", depending on how you view it. Especially you should check on `changed` and `fixed` in the [changelog](https://github.com/node-oauth/node-oauth2-

[2022-10-01 12:04] jankapunkt commented on #160
Also the README should add a "migrate from 3.x" guide, even if there are no breaking issues

[2022-10-01 12:12] jankapunkt opened #163 "Add badges to README"
We need the following badges:

- the following actions workflow badges:
  - https://github.com/node-oauth/node-oauth2-server/actions/workflows/tests.yml
  - https://github.com/node-oauth/node-oauth2-server/actions/workflows/codeql-analysis.yml
  - https://github.com/node-oauth/node-oauth2-server/actions/workflows/tests-release.yml
- repostatus.org "active" badge (indicating this is an active repo)

[2022-10-01 12:13] ashutosh7i commented on #163
i can do this, please assign it to me

[2022-10-01 12:29] jmakhack commented on #163
Hey, I'd love to work on this issue. Can it be assigned to me if it is still available?

[2022-10-01 12:38] jankapunkt commented on #163
@jmakhack go for it

[2022-10-02 18:18] tswaters commented on #162
Thanks for the quick response, this answers my question.

[2022-10-02 18:18] #162 closed

[2022-10-03 12:02] #163 closed

[2022-10-31 06:03] jankapunkt opened #167 "Update GitHub core actions"
So we need to update the ci with GitHub actions to their latest version (v3) as older will be deprecated:

https://github.blog/changelog/2022-10-11-github-actions-deprecating-save-state-and-set-output-commands/

[2022-11-21 15:50] MarcGodard opened #170 "Koa Wrapper for this version?"
Wondering if there is a Koa wrapper for this version. I think the one you link to is the old version and looks not to have been kept up with Koa releases too.

[2022-11-21 17:20] jankapunkt commented on #170
Hi @MarcGodard at least I am not actively using Koa so I am not a good candidate to update the plugin. If you feel confident to help, then I can fork the linked one into this org and you can open a PR to update it.

@Uzlopak @HappyZombies @jorenvandeweyer one of you guys has experience with Koa for a potential review?

[2022-11-21 22:43] MarcGodard commented on #170
I just started using Koa, so not confident enough yet, but I will look at the other wrapper (I did see a PR to update it for Koa v2 that was never merged but no pr for switching to this version). If I get the time, I can do it over the Christmas holidays and see what I can figure out.

I don't need this till January or February, just collecting and researching the tools I need to build the request

[2022-11-28 09:51] jankapunkt commented on #76
implemented in 4.3.0 by PR #86

[2022-11-28 09:51] #76 closed